* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  line-height: 1.5; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none; }

p {
  text-align: left; }

h1 {
  line-height: 1; }

h2 {
  line-height: 1.2; }

body {
  font-size: 85%; }

@media (min-width: 36rem) {
  body {
    font-size: 90%; } }

@media (min-width: 48rem) {
  body {
    font-size: 100%; } }

@media (min-width: 75rem) {
  body {
    font-size: 110%; } }

/*

@media (min-width:36rem){
    
}
@media (min-width:48rem){
   
}
@media (min-width:62rem){
    
}
@media (min-width:75rem){
   
}

*/
/*header*/
/*End header*/
/*primer article*/
/*End primer article*/
/*segundo article*/
/*End segundo article*/
.header {
  background: url("../imagenes/header/fondo.png") 0 0/100% 100% no-repeat;
  position: relative;
  color: white;
  width: 100%;
  height: 20rem;
  margin-bottom: 10rem; }
  .header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
    background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
    z-index: 10; }

@media (min-width: 36rem) {
  .header {
    height: 30rem;
    margin-bottom: 8rem; } }

@media (min-width: 48rem) {
  .header {
    height: 35rem;
    margin-bottom: 10rem; } }

@media (min-width: 62rem) {
  .header {
    height: 40rem;
    margin-bottom: 14rem; } }

@media (min-width: 75rem) {
  .header {
    height: 45rem;
    margin-bottom: 20rem; } }

@media (min-width: 86rem) {
  .header {
    margin-bottom: 25rem; } }

@media (min-width: 100rem) {
  .header {
    margin-bottom: 35rem; } }

@media (min-width: 112rem) {
  .header {
    margin-bottom: 45rem; } }

.primer-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (min-width: 36rem) {
  .primer-article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; } }

.article {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: justify;
  color: white; }
  .article > * {
    margin-bottom: 1rem; }
  .article p {
    width: 90%; }
  .article .tablet {
    font-size: 8rem;
    -webkit-box-shadow: -1px 1px #47a572, -1px 1px #47a572, -2px 2px #47a572, -3px 3px #47a572, -4px 4px #47a572, -5px 5px #47a572, -6px 6px #47a572, -7px 7px #47a572, -8px 8px #47a572, -9px 9px #47a572, -10px 10px #47a572, -11px 11px #47a572, -12px 12px #47a572, -13px 13px #47a572, -14px 14px #47a572, -15px 15px #47a572, -16px 16px #47a572, -17px 17px #47a572, -18px 18px #47a572, -19px 19px #47a572, -20px 20px #47a572, -21px 21px #47a572, -22px 22px #47a572, -23px 23px #47a572, -24px 24px #47a572, -25px 25px #47a572, -26px 26px #47a572, -27px 27px #47a572, -28px 28px #47a572, -29px 29px #47a572, -30px 30px #47a572, -31px 31px #47a572, -32px 32px #47a572, -33px 33px #47a572, -34px 34px #47a572, -35px 35px #47a572, -36px 36px #47a572, -37px 37px #47a572, -38px 38px #47a572, -39px 39px #47a572, -40px 40px #47a572, -41px 41px #47a572, -42px 42px #47a572, -43px 43px #47a572, -44px 44px #47a572, -45px 45px #47a572, -46px 46px #47a572, -47px 47px #47a572, -48px 48px #47a572, -49px 49px #47a572, -50px 50px #47a572, -51px 51px #47a572, -52px 52px #47a572, -53px 53px #47a572, -54px 54px #47a572, -55px 55px #47a572, -56px 56px #47a572, -57px 57px #47a572, -58px 58px #47a572, -59px 59px #47a572, -60px 60px #47a572, -61px 61px #47a572, -62px 62px #47a572, -63px 63px #47a572, -64px 64px #47a572, -65px 65px #47a572, -66px 66px #47a572, -67px 67px #47a572, -68px 68px #47a572, -69px 69px #47a572, -70px 70px #47a572, -71px 71px #47a572, -72px 72px #47a572, -73px 73px #47a572, -74px 74px #47a572, -75px 75px #47a572, -76px 76px #47a572, -77px 77px #47a572, -78px 78px #47a572, -79px 79px #47a572, -80px 80px #47a572, -81px 81px #47a572, -82px 82px #47a572, -83px 83px #47a572, -84px 84px #47a572, -85px 85px #47a572, -86px 86px #47a572, -87px 87px #47a572, -88px 88px #47a572, -89px 89px #47a572, -90px 90px #47a572, -91px 91px #47a572, -92px 92px #47a572, -93px 93px #47a572, -94px 94px #47a572, -95px 95px #47a572, -96px 96px #47a572, -97px 97px #47a572, -98px 98px #47a572, -99px 99px #47a572, -100px 100px #47a572, -101px 101px #47a572, -102px 102px #47a572, -103px 103px #47a572, -104px 104px #47a572, -105px 105px #47a572, -106px 106px #47a572, -107px 107px #47a572, -108px 108px #47a572, -109px 109px #47a572, -110px 110px #47a572, -111px 111px #47a572, -112px 112px #47a572, -113px 113px #47a572, -114px 114px #47a572, -115px 115px #47a572, -116px 116px #47a572, -117px 117px #47a572, -118px 118px #47a572, -119px 119px #47a572, -120px 120px #47a572, -121px 121px #47a572, -122px 122px #47a572, -123px 123px #47a572, -124px 124px #47a572, -125px 125px #47a572, -126px 126px #47a572, -127px 127px #47a572, -128px 128px #47a572, -129px 129px #47a572, -130px 130px #47a572, -131px 131px #47a572, -132px 132px #47a572, -133px 133px #47a572, -134px 134px #47a572, -135px 135px #47a572, -136px 136px #47a572, -137px 137px #47a572, -138px 138px #47a572, -139px 139px #47a572, -140px 140px #47a572, -141px 141px #47a572, -142px 142px #47a572, -143px 143px #47a572, -144px 144px #47a572, -145px 145px #47a572, -146px 146px #47a572, -147px 147px #47a572, -148px 148px #47a572, -149px 149px #47a572, -150px 150px #47a572, -151px 151px #47a572, -152px 152px #47a572, -153px 153px #47a572, -154px 154px #47a572, -155px 155px #47a572, -156px 156px #47a572, -157px 157px #47a572, -158px 158px #47a572, -159px 159px #47a572, -160px 160px #47a572, -161px 161px #47a572, -162px 162px #47a572, -163px 163px #47a572, -164px 164px #47a572, -165px 165px #47a572, -166px 166px #47a572, -167px 167px #47a572, -168px 168px #47a572, -169px 169px #47a572, -170px 170px #47a572, -171px 171px #47a572, -172px 172px #47a572, -173px 173px #47a572, -174px 174px #47a572, -175px 175px #47a572, -176px 176px #47a572, -177px 177px #47a572, -178px 178px #47a572, -179px 179px #47a572, -180px 180px #47a572, -181px 181px #47a572, -182px 182px #47a572, -183px 183px #47a572, -184px 184px #47a572, -185px 185px #47a572, -186px 186px #47a572, -187px 187px #47a572, -188px 188px #47a572, -189px 189px #47a572, -190px 190px #47a572, -191px 191px #47a572, -192px 192px #47a572, -193px 193px #47a572, -194px 194px #47a572, -195px 195px #47a572, -196px 196px #47a572, -197px 197px #47a572, -198px 198px #47a572, -199px 199px #47a572, -200px 200px #47a572, -201px 201px #47a572, -202px 202px #47a572, -203px 203px #47a572, -204px 204px #47a572, -205px 205px #47a572, -206px 206px #47a572, -207px 207px #47a572, -208px 208px #47a572, -209px 209px #47a572, -210px 210px #47a572, -211px 211px #47a572, -212px 212px #47a572, -213px 213px #47a572, -214px 214px #47a572, -215px 215px #47a572, -216px 216px #47a572, -217px 217px #47a572, -218px 218px #47a572, -219px 219px #47a572, -220px 220px #47a572, -221px 221px #47a572, -222px 222px #47a572, -223px 223px #47a572, -224px 224px #47a572, -225px 225px #47a572, -226px 226px #47a572, -227px 227px #47a572, -228px 228px #47a572, -229px 229px #47a572, -230px 230px #47a572, -231px 231px #47a572, -232px 232px #47a572, -233px 233px #47a572, -234px 234px #47a572, -235px 235px #47a572, -236px 236px #47a572, -237px 237px #47a572, -238px 238px #47a572, -239px 239px #47a572, -240px 240px #47a572, -241px 241px #47a572, -242px 242px #47a572, -243px 243px #47a572, -244px 244px #47a572, -245px 245px #47a572, -246px 246px #47a572, -247px 247px #47a572, -248px 248px #47a572, -249px 249px #47a572, -250px 250px #47a572, -251px 251px #47a572, -252px 252px #47a572, -253px 253px #47a572, -254px 254px #47a572, -255px 255px #47a572, -256px 256px #47a572, -257px 257px #47a572, -258px 258px #47a572, -259px 259px #47a572, -260px 260px #47a572, -261px 261px #47a572, -262px 262px #47a572, -263px 263px #47a572, -264px 264px #47a572, -265px 265px #47a572, -266px 266px #47a572, -267px 267px #47a572, -268px 268px #47a572, -269px 269px #47a572, -270px 270px #47a572, -271px 271px #47a572, -272px 272px #47a572, -273px 273px #47a572, -274px 274px #47a572, -275px 275px #47a572, -276px 276px #47a572, -277px 277px #47a572, -278px 278px #47a572, -279px 279px #47a572, -280px 280px #47a572, -281px 281px #47a572, -282px 282px #47a572, -283px 283px #47a572, -284px 284px #47a572, -285px 285px #47a572, -286px 286px #47a572, -287px 287px #47a572, -288px 288px #47a572, -289px 289px #47a572, -290px 290px #47a572, -291px 291px #47a572, -292px 292px #47a572, -293px 293px #47a572, -294px 294px #47a572, -295px 295px #47a572, -296px 296px #47a572, -297px 297px #47a572, -298px 298px #47a572, -299px 299px #47a572, -300px 300px #47a572;
    box-shadow: -1px 1px #47a572, -1px 1px #47a572, -2px 2px #47a572, -3px 3px #47a572, -4px 4px #47a572, -5px 5px #47a572, -6px 6px #47a572, -7px 7px #47a572, -8px 8px #47a572, -9px 9px #47a572, -10px 10px #47a572, -11px 11px #47a572, -12px 12px #47a572, -13px 13px #47a572, -14px 14px #47a572, -15px 15px #47a572, -16px 16px #47a572, -17px 17px #47a572, -18px 18px #47a572, -19px 19px #47a572, -20px 20px #47a572, -21px 21px #47a572, -22px 22px #47a572, -23px 23px #47a572, -24px 24px #47a572, -25px 25px #47a572, -26px 26px #47a572, -27px 27px #47a572, -28px 28px #47a572, -29px 29px #47a572, -30px 30px #47a572, -31px 31px #47a572, -32px 32px #47a572, -33px 33px #47a572, -34px 34px #47a572, -35px 35px #47a572, -36px 36px #47a572, -37px 37px #47a572, -38px 38px #47a572, -39px 39px #47a572, -40px 40px #47a572, -41px 41px #47a572, -42px 42px #47a572, -43px 43px #47a572, -44px 44px #47a572, -45px 45px #47a572, -46px 46px #47a572, -47px 47px #47a572, -48px 48px #47a572, -49px 49px #47a572, -50px 50px #47a572, -51px 51px #47a572, -52px 52px #47a572, -53px 53px #47a572, -54px 54px #47a572, -55px 55px #47a572, -56px 56px #47a572, -57px 57px #47a572, -58px 58px #47a572, -59px 59px #47a572, -60px 60px #47a572, -61px 61px #47a572, -62px 62px #47a572, -63px 63px #47a572, -64px 64px #47a572, -65px 65px #47a572, -66px 66px #47a572, -67px 67px #47a572, -68px 68px #47a572, -69px 69px #47a572, -70px 70px #47a572, -71px 71px #47a572, -72px 72px #47a572, -73px 73px #47a572, -74px 74px #47a572, -75px 75px #47a572, -76px 76px #47a572, -77px 77px #47a572, -78px 78px #47a572, -79px 79px #47a572, -80px 80px #47a572, -81px 81px #47a572, -82px 82px #47a572, -83px 83px #47a572, -84px 84px #47a572, -85px 85px #47a572, -86px 86px #47a572, -87px 87px #47a572, -88px 88px #47a572, -89px 89px #47a572, -90px 90px #47a572, -91px 91px #47a572, -92px 92px #47a572, -93px 93px #47a572, -94px 94px #47a572, -95px 95px #47a572, -96px 96px #47a572, -97px 97px #47a572, -98px 98px #47a572, -99px 99px #47a572, -100px 100px #47a572, -101px 101px #47a572, -102px 102px #47a572, -103px 103px #47a572, -104px 104px #47a572, -105px 105px #47a572, -106px 106px #47a572, -107px 107px #47a572, -108px 108px #47a572, -109px 109px #47a572, -110px 110px #47a572, -111px 111px #47a572, -112px 112px #47a572, -113px 113px #47a572, -114px 114px #47a572, -115px 115px #47a572, -116px 116px #47a572, -117px 117px #47a572, -118px 118px #47a572, -119px 119px #47a572, -120px 120px #47a572, -121px 121px #47a572, -122px 122px #47a572, -123px 123px #47a572, -124px 124px #47a572, -125px 125px #47a572, -126px 126px #47a572, -127px 127px #47a572, -128px 128px #47a572, -129px 129px #47a572, -130px 130px #47a572, -131px 131px #47a572, -132px 132px #47a572, -133px 133px #47a572, -134px 134px #47a572, -135px 135px #47a572, -136px 136px #47a572, -137px 137px #47a572, -138px 138px #47a572, -139px 139px #47a572, -140px 140px #47a572, -141px 141px #47a572, -142px 142px #47a572, -143px 143px #47a572, -144px 144px #47a572, -145px 145px #47a572, -146px 146px #47a572, -147px 147px #47a572, -148px 148px #47a572, -149px 149px #47a572, -150px 150px #47a572, -151px 151px #47a572, -152px 152px #47a572, -153px 153px #47a572, -154px 154px #47a572, -155px 155px #47a572, -156px 156px #47a572, -157px 157px #47a572, -158px 158px #47a572, -159px 159px #47a572, -160px 160px #47a572, -161px 161px #47a572, -162px 162px #47a572, -163px 163px #47a572, -164px 164px #47a572, -165px 165px #47a572, -166px 166px #47a572, -167px 167px #47a572, -168px 168px #47a572, -169px 169px #47a572, -170px 170px #47a572, -171px 171px #47a572, -172px 172px #47a572, -173px 173px #47a572, -174px 174px #47a572, -175px 175px #47a572, -176px 176px #47a572, -177px 177px #47a572, -178px 178px #47a572, -179px 179px #47a572, -180px 180px #47a572, -181px 181px #47a572, -182px 182px #47a572, -183px 183px #47a572, -184px 184px #47a572, -185px 185px #47a572, -186px 186px #47a572, -187px 187px #47a572, -188px 188px #47a572, -189px 189px #47a572, -190px 190px #47a572, -191px 191px #47a572, -192px 192px #47a572, -193px 193px #47a572, -194px 194px #47a572, -195px 195px #47a572, -196px 196px #47a572, -197px 197px #47a572, -198px 198px #47a572, -199px 199px #47a572, -200px 200px #47a572, -201px 201px #47a572, -202px 202px #47a572, -203px 203px #47a572, -204px 204px #47a572, -205px 205px #47a572, -206px 206px #47a572, -207px 207px #47a572, -208px 208px #47a572, -209px 209px #47a572, -210px 210px #47a572, -211px 211px #47a572, -212px 212px #47a572, -213px 213px #47a572, -214px 214px #47a572, -215px 215px #47a572, -216px 216px #47a572, -217px 217px #47a572, -218px 218px #47a572, -219px 219px #47a572, -220px 220px #47a572, -221px 221px #47a572, -222px 222px #47a572, -223px 223px #47a572, -224px 224px #47a572, -225px 225px #47a572, -226px 226px #47a572, -227px 227px #47a572, -228px 228px #47a572, -229px 229px #47a572, -230px 230px #47a572, -231px 231px #47a572, -232px 232px #47a572, -233px 233px #47a572, -234px 234px #47a572, -235px 235px #47a572, -236px 236px #47a572, -237px 237px #47a572, -238px 238px #47a572, -239px 239px #47a572, -240px 240px #47a572, -241px 241px #47a572, -242px 242px #47a572, -243px 243px #47a572, -244px 244px #47a572, -245px 245px #47a572, -246px 246px #47a572, -247px 247px #47a572, -248px 248px #47a572, -249px 249px #47a572, -250px 250px #47a572, -251px 251px #47a572, -252px 252px #47a572, -253px 253px #47a572, -254px 254px #47a572, -255px 255px #47a572, -256px 256px #47a572, -257px 257px #47a572, -258px 258px #47a572, -259px 259px #47a572, -260px 260px #47a572, -261px 261px #47a572, -262px 262px #47a572, -263px 263px #47a572, -264px 264px #47a572, -265px 265px #47a572, -266px 266px #47a572, -267px 267px #47a572, -268px 268px #47a572, -269px 269px #47a572, -270px 270px #47a572, -271px 271px #47a572, -272px 272px #47a572, -273px 273px #47a572, -274px 274px #47a572, -275px 275px #47a572, -276px 276px #47a572, -277px 277px #47a572, -278px 278px #47a572, -279px 279px #47a572, -280px 280px #47a572, -281px 281px #47a572, -282px 282px #47a572, -283px 283px #47a572, -284px 284px #47a572, -285px 285px #47a572, -286px 286px #47a572, -287px 287px #47a572, -288px 288px #47a572, -289px 289px #47a572, -290px 290px #47a572, -291px 291px #47a572, -292px 292px #47a572, -293px 293px #47a572, -294px 294px #47a572, -295px 295px #47a572, -296px 296px #47a572, -297px 297px #47a572, -298px 298px #47a572, -299px 299px #47a572, -300px 300px #47a572; }

.article-segundo {
  padding-bottom: 10rem;
  position: relative;
  background-color: rgba(95, 193, 139, 0.9); }
  .article-segundo::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, from(rgba(95, 193, 139, 0.9)), to(transparent));
    background: -webkit-linear-gradient(left, rgba(95, 193, 139, 0.9), transparent);
    background: -o-linear-gradient(left, rgba(95, 193, 139, 0.9), transparent);
    background: linear-gradient(to right, rgba(95, 193, 139, 0.9), transparent); }
  .article-segundo > * {
    position: relative; }

.article__imagen {
  width: 5rem;
  -webkit-filter: drop-shadow(-10px 10px #37895b);
  filter: drop-shadow(-10px 10px #37895b); }

@media (min-width: 36rem) {
  .article p {
    width: 85%; }
  .article-segundo {
    padding-bottom: 13rem; } }

@media (min-width: 48rem) {
  .article p {
    width: 75%; }
  .article-segundo {
    padding-bottom: 20rem; }
  .article__imagen {
    width: 10rem; } }

@media (min-width: 62rem) {
  .article {
    padding-top: 4rem;
    padding-left: 15%;
    padding-right: 15%; }
    .article p {
      width: 100%; }
  .article-segundo {
    background-size: 41%; } }

@media (min-width: 75rem) {
  .article {
    padding-top: 5rem;
    padding-left: 20%;
    padding-right: 20%; }
  .article-segundo {
    padding-bottom: 28rem; }
  .article__imagen {
    width: 13rem; } }

@media (min-width: 100rem) {
  .article-segundo {
    padding-bottom: 40rem; } }

/*header*/
/*End header*/
/*primer article*/
/*End primer article*/
/*segundo article*/
/*End segundo article*/
.article__tercer-article {
  -webkit-transform: skewY(-14.5deg);
  -ms-transform: skewY(-14.5deg);
  transform: skewY(-14.5deg);
  background-color: #44a36f;
  position: relative;
  top: -6.5rem;
  padding-bottom: 3rem;
  position: relative; }
  .article__tercer-article > * {
    -webkit-transform: skewY(14.5deg);
    -ms-transform: skewY(14.5deg);
    transform: skewY(14.5deg); }
  .article__tercer-article::before {
    position: absolute;
    content: "";
    top: -.95rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #308355;
    z-index: -1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%); }
  .article__tercer-article::after {
    position: absolute;
    content: "";
    bottom: -22%;
    left: 0;
    width: 100%;
    height: 55%;
    background-color: #44a36f;
    -webkit-transform: skewY(14.5deg);
    -ms-transform: skewY(14.5deg);
    transform: skewY(14.5deg);
    z-index: -1; }

.article__tercer-article__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -ms-flex: 2 1;
  flex: 2 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .article__tercer-article__contenedor > * {
    margin-bottom: 1rem; }

.article__tercer-article__imagen {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  max-width: 20%;
  margin-left: 3rem;
  -webkit-filter: drop-shadow(-10px 10px #37895b);
  filter: drop-shadow(-10px 10px #37895b); }

@media (min-width: 36rem) {
  .article__tercer-article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 8rem; }
    .article__tercer-article::after {
      bottom: -25%; }
  .article__tercer-article__imagen {
    position: relative;
    top: -5rem; }
  .article__tercer-article__contenedor {
    margin-left: 1rem; } }

@media (min-width: 48rem) {
  .article__tercer-article {
    top: -9rem;
    padding-top: 10rem; }
    .article__tercer-article::after {
      bottom: -30%;
      height: 70%; }
  .article__tercer-article__contenedor {
    margin-left: 2rem; }
  .article__tercer-article__imagen {
    max-width: 40%; } }

@media (min-width: 62rem) {
  .article__tercer-article {
    top: -12rem;
    padding-top: 12rem; }
    .article__tercer-article::after {
      height: 80%;
      bottom: -35%; }
  .article__tercer-article__contenedor {
    margin-left: 3rem; }
  .article__tercer-article__imagen {
    left: -5rem;
    max-width: 50%; } }

@media (min-width: 75rem) {
  .article__tercer-article {
    padding-top: 15rem;
    top: -14rem; }
    .article__tercer-article::after {
      height: 100%;
      bottom: -45%; }
  .article__tercer-article__contenedor {
    margin-left: 4rem; } }

@media (min-width: 100rem) {
  .article__tercer-article {
    top: -25rem; }
    .article__tercer-article::after {
      bottom: -66%;
      height: 120%; } }

/*header*/
/*End header*/
/*primer article*/
/*End primer article*/
/*segundo article*/
/*End segundo article*/
.footer {
  width: 100%;
  position: relative; }
  .footer::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 6.5rem;
    bottom: 0rem;
    left: 0;
    background-color: #44a36f; }

.footer__mapa {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  top: -1.6rem; }

/*header*/
/*End header*/
/*primer article*/
/*End primer article*/
/*segundo article*/
/*End segundo article*/
.boton {
  text-transform: uppercase;
  padding: .4rem .5rem;
  font-size: 1.1rem;
  background-color: #227dd3;
  color: white; }
  .boton:hover {
    background-color: #1b63a7; }
  .boton:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #0d2f4f; }

.tercer-article__boton {
  position: relative;
  top: 2rem;
  border: .2rem solid white;
  border-radius: .5rem;
  background-color: transparent; }
  .tercer-article__boton:hover {
    background-color: #357f56; }
  .tercer-article__boton:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #173725; }

@media (min-width: 36rem) {
  .boton {
    padding: 1rem 1rem; } }

@media (min-width: 48rem) {
  .boton {
    padding: 1rem 1.3rem; } }

@media (min-width: 62rem) {
  .boton {
    padding: 1rem 1.6rem; } }

@media (min-width: 75rem) {
  .boton {
    padding: 1rem 1.9rem; } }

.contacto {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); }
  .contacto > *:not(i) {
    margin-bottom: .5rem;
    padding: .2rem;
    width: 95%; }

.contacto__textArea {
  max-width: 95%; }

@media (min-width: 36rem) {
  .contacto > *:not(i) {
    margin-bottom: .6rem;
    padding: .3rem; } }

@media (min-width: 48rem) {
  .contacto {
    border-radius: 50%;
    width: 24rem;
    height: 24rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    margin: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 4rem; }
    .contacto > *:not(i) {
      margin-bottom: .7rem;
      padding: .4rem;
      width: 60%;
      line-height: 2; } }

@media (min-width: 62rem) {
  .contacto {
    width: 28rem;
    height: 28rem; }
    .contacto > *:not(i) {
      margin-bottom: .8rem;
      padding: .5rem; } }

@media (min-width: 75rem) {
  .contacto {
    width: 35rem;
    height: 35rem; }
    .contacto > *:not(i) {
      margin-bottom: .9rem;
      padding: .6rem; } }

@media (min-width: 100rem) {
  .contacto {
    width: 40rem;
    height: 40rem; } }

@media (min-width: 112rem) {
  .contacto {
    width: 45rem;
    height: 45rem; } }

.header__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  content: "";
  width: 100%;
  height: auto;
  top: 1rem;
  margin: auto; }
  .header__contenedor > * {
    margin-bottom: .5rem; }
  .header__contenedor :last-child {
    margin-bottom: 0; }

.header__image {
  width: 25%; }

@media (min-width: 36rem) {
  .header__contenedor > * {
    margin-bottom: 1rem; } }

@media (min-width: 62rem) {
  .header__contenedor > * {
    margin-bottom: 1.5rem; } }

@media (min-width: 75rem) {
  .header__contenedor > * {
    margin-bottom: 2rem; } }

@media (min-width: 100rem) {
  .header__contenedor > * {
    margin-bottom: 2.5rem; } }

.formulario {
  width: 60%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  color: #a19d9d;
  border: .1rem solid black;
  -webkit-box-shadow: 0 0 .5rem .001rem black;
  box-shadow: 0 0 .5rem .001rem black; }
  .formulario > * {
    height: auto;
    margin-bottom: .5rem;
    text-align: center; }

.formulario__campo-texto {
  padding: .3rem;
  width: 80%; }

@media (min-width: 36rem) {
  .formulario {
    width: 40%; }
  .formulario__campo-texto {
    width: 55%;
    line-height: 1.5rem; } }

@media (min-width: 48rem) {
  .formulario > * {
    margin-bottom: .8rem; } }

@media (min-width: 62rem) {
  .formulario > * {
    margin-bottom: 1.2rem; } }

@media (min-width: 75rem) {
  .formulario > * {
    margin-bottom: 1.5rem; } }

.header__hgroup {
  width: 100%; }

.header__h1 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.9rem;
  margin: 0; }

.header__h2 {
  text-transform: uppercase;
  font-size: 2rem; }

@media (min-width: 36rem) {
  .header__h1 {
    font-size: 2.4rem; }
  .header__h2 {
    font-size: 2.5rem; } }

@media (min-width: 48rem) {
  .header__h1 {
    font-size: 2.9rem; }
  .header__h2 {
    font-size: 3rem; } }

@media (min-width: 62rem) {
  .header__h1 {
    font-size: 3.9rem; }
  .header__h2 {
    font-size: 4rem; } }

@media (min-width: 75rem) {
  .header__h1 {
    font-size: 4.9rem; }
  .header__h2 {
    font-size: 5rem; } }

.formulario__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }
  .formulario__ul li {
    width: 100%;
    height: auto;
    max-width: 25%; }
    .formulario__ul li:nth-child(5), .formulario__ul li:nth-child(6) {
      display: none; }
    .formulario__ul li img {
      display: block; }

@media (min-width: 36rem) {
  .formulario__ul li {
    max-width: 25%; }
    .formulario__ul li:nth-child(5), .formulario__ul li:nth-child(6) {
      display: inline-block; } }

/*header*/
/*End header*/
/*primer article*/
/*End primer article*/
/*segundo article*/
/*End segundo article*/
.primer-article__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: .5rem;
  padding-left: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 90%; }
  .primer-article__figure img {
    max-width: 3.75rem;
    margin-right: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    border-top-right-radius: .2rem;
    -webkit-box-shadow: 0 .2rem darkslategrey;
    box-shadow: 0 .2rem darkslategrey; }

.primer-article__figcaption h3 {
  margin-bottom: 1rem; }

@media (min-width: 36rem) {
  .primer-article__figure img {
    width: 30%; } }

@media (min-width: 48rem) {
  .primer-article__figure img {
    width: 25%; } }

@media (min-width: 62rem) {
  .primer-article__figure img {
    width: 20%; } }

@media (min-width: 75rem) {
  .primer-article__figure img {
    width: 15%; } }

.ok {
  font-size: 2rem;
  color: green;
  display: inline-block; }
  .ok:hover {
    color: #004d00; }
  .ok:active {
    color: #003400;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }

@media (min-width: 36rem) {
  .ok {
    font-size: 2.3rem; } }

@media (min-width: 48rem) {
  .ok {
    font-size: 2.6rem; } }

@media (min-width: 62rem) {
  .ok {
    font-size: 2.9rem; } }

@media (min-width: 75rem) {
  .ok {
    font-size: 3.1rem; } }

/*header*/
/*End header*/
/*primer article*/
/*End primer article*/
/*segundo article*/
/*End segundo article*/
.derechos-reservados {
  background-color: #44a36f;
  color: white;
  display: inline-block;
  padding: .5rem;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem; }
  .derechos-reservados a {
    color: white; }

/*# sourceMappingURL=style.css.map */