<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="font/fontawesome/css/all.min.css")
        
    body
        header(class="header")
            article(class="header__contenedor")
                img(class="header__image",src="imagenes/header/logo.png", alt="", srcset="")
                hgroup(class="header__hgroup")
                    h1(class="header__h1") Seguro pusiste tus pies  
                    h2(class="header__h2") en el lugar correcto
                article(class="header__formulario formulario")
                    input(class="formulario__campo-texto",type="text", name="" placeholder="Entre el codigo")
                    ul(class="formulario__ul")
                        li: img(src="imagenes/galeria_header/edificio.jpg", alt="")
                        li: img(src="imagenes/galeria_header/ensalada.jpg", alt="")
                        li: img(src="imagenes/galeria_header/escritorio.jpg", alt="")
                        li: img(src="imagenes/galeria_header/fotografa.jpg", alt="")
                        li: img(src="imagenes/galeria_header/mujer-caminando.jpg", alt="")
                        li: img(src="imagenes/galeria_header/salto-patineta.jpg", alt="")                            
                    p(class="formulario__parrafo") Lorem ipsum dolor sit amet, maxime!
                    input(class="boton",type="button", value="presioname")
        article(class="primer-article")
            figure(class="primer-article__figure")
                img(src="imagenes/article_1/documents.png", alt="imagen de documentos")
                figcaption(class="primer-article__figcaption")
                    h3 Documents
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, sit.
            figure(class="primer-article__figure")
                img(src="imagenes/article_1/camara.png", alt="imagen de camara")
                figcaption(class="primer-article__figcaption")
                    h3 Camera
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, sit.
        article(class="article article-segundo")
            //i(class="fas fa-tablet-alt tablet")
            img(class="article__imagen", src="imagenes/article_2/telefonos.png", alt="", srcset="")
            h2(class="article__h2") Lorem ipsum, dolor sit. 
            p(class="article__primer-parrafo") Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt animi non vel dolor laudantium totam aperiam laborum quo neque provident!
            p(class="article__segundo-parrafo") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod ullam quaerat iste autem quae totam non, laudantium explicabo commodi ut quisquam quos cupiditate labore minus excepturi at provident distinctio sed!
        article(class="article__tercer-article article")
            img(class="article__tercer-article__imagen", src="imagenes/article_3/monitor.png", alt="", srcset="")
            article(class="article__tercer-article__contenedor")
                h2(class="article__tercer-article__h2") Lorem ipsum, dolor sit. 
                p(class="article__tercer-article-segundo-parrafo") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, ipsa distinctio rerum fugit nobis illum dolorem tempora omnis laudantium sequi officia, perferendis assumenda veniam enim fuga, recusandae consequatur quas exercitationem.
                input(class="boton tercer-article__boton ",type="button", value="Descargar")
        footer(class="footer")
            img(class="footer__mapa", src="imagenes/footer/mapa.png", alt="mapa de contacto", srcset="")
            article(class="contacto")
                input(class="campo-texto",type="text", name="" placeholder="Nombre")
                input(class="campo-texto",type="email", name="" placeholder="Correo electrónico")
                textarea(class="contacto__textArea",name="", cols="30", rows="5", placeholder="Mensaje")               
                i(class="fas fa-check-circle ok")                
            em(class="derechos-reservados")
                a(href="http://wwww.cssauthor.com") Designed by Cssauthor
               
                

                