@import "../utilities/vars";
@import "../utilities/mixins";
.l-article3{
    transform: skewY(-14.5deg);
    background-color: $backgroud-color-tercer-article;
    position: relative;
    top:-6.5rem;
    padding-bottom: 3rem;
    >*{
        transform: skewY(14.5deg); 
    }
    position: relative;    
    &::before,&::after{
        position: absolute;
        content: "";        
        width: 100%;      
        z-index: -1;
    }
    &::after{        
        bottom: -22%;
        left: 0;        
        height: 55%;
        background-color: $backgroud-color-tercer-article;
        transform: skewY(14.5deg);       
    }
    &::before{
        top:-.95rem;
        left: 0;
        height: 1rem;
        background-color:#308355;
        clip-path: polygon(100% 0,100% 100%,0 100%); 
    }   
   
}
.article3__contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 2 1;
    align-items: center;
    
    >*{
        margin-bottom: 1rem;
    }
    
}
.article3__imagen{
   flex: 1 1;
   max-width: 20%;
   margin-left: 3rem;
   filter: drop-shadow(-10px 10px #37895b);    
}
.article3__boton{
    position: relative;
    top:2rem;    
    border: .2rem solid white;
    border-radius: .5rem;    
    @include Darken($backgroud-color-tercer-article);

}
@media (min-width:36rem){
    .l-article3{
        flex-direction: row;
        padding-top: 8rem;        
    
    &::after{
        bottom: -25%;
    }
    }
    .article3__imagen{
       position: relative;
       top:-5rem
    }
    .article3__contenedor{
      margin-left: 1rem;
    }
    
}
@media (min-width:48rem){
    .l-article3{
        top:-9rem;
        padding-top: 10rem;
        &::after{
            bottom: -30%;
            height: 70%;
        }
    }
    .article3__contenedor{
        margin-left: 2rem;
      }
    .article3__imagen{
        max-width: 40%;
        
     }
}
@media (min-width:62rem){
    .l-article3{
        top:-12rem;
        padding-top: 12rem;
        &::after{
            height: 80%;
            bottom: -35%;
           
        }
    }
    .article3__contenedor{
        margin-left: 3rem;
      }
    .article3__imagen{
        left: -5rem;
        max-width: 50%;
     }
}
@media (min-width:75rem){
    .l-article3{
        padding-top: 15rem;
        top:-14rem;
        &::after{
            height: 100%;
            bottom: -45%;
           
        }
    }
    .article3__contenedor{
        margin-left: 4rem;
      }
}
@media (min-width:100rem){
    .l-article3{       
        top:-25rem;
        &::after{           
            bottom: -66%; 
            height: 120%;          
        }
    }
    
}