@import "../utilities/vars";
.l-header{
    background: url("../imagenes/header/fondo.jpg") 0 0/100% 100% no-repeat;    
    position: relative;
    color: white;
    width: 100%;
    height: $height-movil;
    margin-bottom: 10rem;

    &::after{
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
     z-index: 10;
    }
}

@media (min-width:36rem){
    .l-header{
        height: $height-36rem;
        margin-bottom: 8rem;
    }
}
@media (min-width:48rem){
    .l-header{
        height: $height-48rem;
        margin-bottom: 10rem;
    }
}
@media (min-width:62rem){
    .l-header{
        height: $height-62rem;
        margin-bottom: 14rem;
    }
}
@media (min-width:75rem){
    .l-header{
        height: $height-75rem;
        margin-bottom: 20rem;
    }
    
}
@media (min-width:86rem){
    .l-header{       
        margin-bottom: 25rem;
    }
    
}

@media (min-width:100rem){
    .l-header{       
        margin-bottom: 35rem;
    }
    
}

@media (min-width:112rem){
    .l-header{       
        margin-bottom: 45rem;
    }
    
}