@import "../utilities/funtions";
.article{    
    padding-top: 2rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: white;
    
    >*{
        margin-bottom: 1rem;

    }
    p{
        width: 90%;
    }
    
    .tablet{
        font-size: 8rem;
        box-shadow: long-shadow(300,darken(#49a974,1% ));
    }
    
}
.article-segundo{    
    padding-bottom: 10rem;    
    position: relative;
    background-color:$backgroud-color-segundo-article;
     &::before{
        content:"";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background:linear-gradient(to right,$backgroud-color-segundo-article,transparent);         
    }
    >*{
        position: relative;
    }
  
}
.article__imagen{
    width: 5rem;
    filter: drop-shadow(-10px 10px #37895b);
}

.article__h2{
    //box-shadow: long-shadow(200,darken(#320800,10% ));
   
}
@media (min-width:36rem){
    .article{
       p{
           width: 85%;
       }
    }
    .article-segundo{
        padding-bottom: 13rem;
    }
    
}
@media (min-width:48rem){
    .article{
       p{
           width: 75%;
       }
    }
    .article-segundo{
        padding-bottom: 20rem;
    }
    .article__imagen{
        width: 10rem;
    }
}
@media (min-width:62rem){
    .article{
        padding-top: 4rem;
        padding-left: 15%;
        padding-right: 15%;
        p{
            width: 100%;
        }
    }
    .article-segundo{
        background-size:41% ;
       
    }
    
}
@media (min-width:75rem){
    .article{
        padding-top: 5rem;
        padding-left: 20%;
        padding-right: 20%;
    }
    .article-segundo{
        padding-bottom: 28rem;
    }
    .article__imagen{
        width: 13rem;
    }
   
}
@media (min-width:100rem){
   
    .article-segundo{
        padding-bottom: 40rem;
    }
    
   
}