.contacto{    
    margin: auto;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;   
    background-color:rgba(255, 255,255,.8);   
    >*:not(i){
        margin-bottom: .5rem;
        padding:.2rem;
        width: 95%;
       
    }
    
}
.contacto__textArea{
    max-width: 95%;
}

@media (min-width:36rem){
    .contacto{        
        >*:not(i){
            margin-bottom: .6rem;
            padding:.3rem;
    
        }
    }    
}
@media (min-width:48rem){
    .contacto{
        border-radius: 50%;
        width: 24rem;
        height: 24rem;
        position: absolute;        
        top:0;
        left: 0;
        right: 0;
        left: 0;
        margin: auto;
        justify-content: space-around;
        padding-top: 4rem;
        >*:not(i){
            margin-bottom: .7rem;
            padding:.4rem;   
            width: 60%; 
            line-height: 2;
        }
    }
   
}
@media (min-width:62rem){
    .contacto{
        width: 28rem;
        height: 28rem;
        >*:not(i){
            margin-bottom: .8rem;
            padding:.5rem;    
        }
    }
}
@media (min-width:75rem){
    .contacto{
        width: 35rem;
        height: 35rem;
        >*:not(i){
            margin-bottom: .9rem;
            padding:.6rem;    
        }
    }
   
}
@media (min-width:100rem){    
    .contacto{
        width: 40rem;
        height: 40rem;       
    }
    
}
@media (min-width:112rem){    
    .contacto{
        width: 45rem;
        height: 45rem;       
    }
    
}