@import "../utilities/mixins";
@import "../utilities/vars";
.formulario{
    width: 60%;    
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    color:#a19d9d;
    border:.1rem solid black;
    box-shadow:0 0 .5rem .001rem black;    
    >*{        
        height: auto;
        margin-bottom: .5rem;
        text-align: center;
    }
}
.formulario__campoTexto{
    padding: .3rem;
    width: 80%;
}
.formulario__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;    
}
.formulario__li{
    width: 100%;
    height: auto;    
    max-width: 25%;
    &:nth-child(5),&:nth-child(6){
        display: none;
    }
    img{
        display: block;
    }
}
.formulario__boton{
    @include Darken($color-bottom-header);
}

@media (min-width:36rem){
    .formulario{
        width: 40%;
    }
    .formulario__campoTexto{
        width: 55%;
        line-height: 1.5rem;
    }    
     .formulario__li{
        max-width: 25%;
        &:nth-child(5),&:nth-child(6){
            display: inline-block;
        }
     }
}
@media (min-width:48rem){
    .formulario{
        >*{
            margin-bottom: .8rem;
        }
    }   
}
@media (min-width:62rem){
    .formulario{
        >*{
            margin-bottom: 1.2rem;
        }
    }
    
}
@media (min-width:75rem){
   
    .formulario{
        >*{
            margin-bottom: 1.5rem;
        }
    }
    
}
