.formulario__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    //height: 20rem;
    li{
        width: 100%;
        height: auto;
        //min-width: 3rem;
        max-width: 25%;
        &:nth-child(5),&:nth-child(6){
            display: none;
        }
        img{
            display: block;
        }

    }

}
@media (min-width:36rem){
    .formulario__ul{

       li{
           max-width: 25%;
        &:nth-child(5),&:nth-child(6){
            display: inline-block;
        }
       }
    }
}
@media (min-width:48rem){
    .formulario__ul{
       
    }
}
@media (min-width:62rem){
    .formulario__ul{
        
    }
}
@media (min-width:75rem){
    .formulario__ul{
        
    }
    
}