.header__hgroup{
    width: 100%;
}
.header__h1{
    font-weight: 100;  
    text-transform: uppercase; 
    font-size: 2rem;
    margin: 0;
}
.header__h2{
    text-transform: uppercase;
    font-size: 2rem;
}