@import "../utilities/mixins";
.iconoOk{
    font-size: 2rem;
    color: green;   
    display: inline-block;
    &:hover{
        color: darken($color: green, $amount: 10%);
    }
    &:active{
        color: darken($color: green, $amount: 15%);
        transform: scale(0.9);
    }
    
}
@media (min-width:36rem){
    .iconoOk{
        font-size: 2.3rem;
    }
}
@media (min-width:48rem){
    .iconoOk{
        font-size: 2.6rem;
    }
}
@media (min-width:62rem){
    .iconoOk{
        font-size: 2.9rem;
    }
}
@media (min-width:75rem){
    .iconoOk{
        font-size: 3.1rem;
    }
}