body{
    font-size: 85%;
    
}

@media (min-width:36rem){
    body{
        font-size: 90%;
    }
    
}
@media (min-width:48rem){
    body{
        font-size: 100%;
    }
    
}
@media (min-width:75rem){
    body{
        font-size: 110%;
    }
    
}

/*

@media (min-width:36rem){
    
}
@media (min-width:48rem){
   
}
@media (min-width:62rem){
    
}
@media (min-width:75rem){
   
}

*/