*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 100%;
    text-align: center;
    margin: auto;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem; 
    line-height: 1.5;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
li{
    list-style: none;
}
p{
    text-align: left;
}
h1{
    line-height: 1;
}
h2{
    line-height: 1.2;
}